@charset "utf-8";

html,body {
	width : 100%;
	height : 100%;
	overflow: hidden;
}

.split {
	width:100%;
	height:100%;
	display: flex;
	flex-direction: row;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	overflow-y: auto;
    overflow-x: hidden;
}

.gutter {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

#preview_background {
	display:flex;
	align-items: center;
	justify-content: center;
	height:100%;
}

#preview {
	border : 1px solid #333333;
	background: white;
	background-image: radial-gradient(black 1px, transparent 0);
	background-size: 20px 20px;
	background-position: -19px -19px;
	width : 320px;
	height : 540px;
}

#preview_iframe {
	border : 0px;
	width:100%;
	height:100%;
	margin : 0;
	padding : 0;
	overflow: hidden;
}